.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;font-feature-settings:'calt' 0;text-transform: none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Normal_text_a {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;font-feature-settings:'calt' 0;text-transform: none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.List_Paragraph {}
