/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:none;}
a:link {color:#000000; cursor:pointer;}
a:visited {color:#113245;}
a:hover {color:#008FEE;}
a * {color:#000000;text-decoration:none;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
.xr_apb {display:block; position:absolute;}
.xr_bgb0 {background:url('1.png') -768px 3287px repeat;}
#xr_nb1 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb1 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb1 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb1 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb1 .xr_nb6 {background-color:#000000;}
#xr_nb1 li {border-color:#000000;}
#xr_nb1 li:hover {border-color:#83ABAC;}
#xr_nb1 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb1 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb1 {background:url('1.png') -768px 2042px repeat;}
#xr_nb5 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb5 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb5 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb5 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb5 .xr_nb6 {background-color:#000000;}
#xr_nb5 li {border-color:#000000;}
#xr_nb5 li:hover {border-color:#83ABAC;}
#xr_nb5 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb5 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb2 {background:url('1.png') -768px 2208px repeat;}
#xr_nb9 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb9 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb9 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb9 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb9 .xr_nb6 {background-color:#000000;}
#xr_nb9 li {border-color:#000000;}
#xr_nb9 li:hover {border-color:#83ABAC;}
#xr_nb9 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb9 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb3 {background:url('1.png') -768px 1182px repeat;}
#xr_nb13 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb13 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb13 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb13 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb13 .xr_nb6 {background-color:#000000;}
#xr_nb13 li {border-color:#000000;}
#xr_nb13 li:hover {border-color:#83ABAC;}
#xr_nb13 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb13 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb4 {background:url('1.png') -768px 5180px repeat;}
#xr_nb17 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb17 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb17 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb17 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb17 .xr_nb6 {background-color:#000000;}
#xr_nb17 li {border-color:#000000;}
#xr_nb17 li:hover {border-color:#83ABAC;}
#xr_nb17 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb17 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb5 {background:url('1.png') -768px 4556px repeat;}
#xr_nb21 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb21 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb21 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb21 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb21 .xr_nb6 {background-color:#000000;}
#xr_nb21 li {border-color:#000000;}
#xr_nb21 li:hover {border-color:#83ABAC;}
#xr_nb21 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb21 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb6 {background:url('1.png') -768px 1295px repeat;}
#xr_nb25 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb25 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb25 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb25 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb25 .xr_nb6 {background-color:#000000;}
#xr_nb25 li {border-color:#000000;}
#xr_nb25 li:hover {border-color:#83ABAC;}
#xr_nb25 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb25 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb7 {background:url('1.png') -768px 1832px repeat;}
#xr_nb29 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb29 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb29 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb29 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb29 .xr_nb6 {background-color:#000000;}
#xr_nb29 li {border-color:#000000;}
#xr_nb29 li:hover {border-color:#83ABAC;}
#xr_nb29 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb29 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb8 {background:url('1.png') -768px 4490px repeat;}
#xr_nb33 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb33 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb33 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb33 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb33 .xr_nb6 {background-color:#000000;}
#xr_nb33 li {border-color:#000000;}
#xr_nb33 li:hover {border-color:#83ABAC;}
#xr_nb33 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb33 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb9 {background:url('1.png') -768px 3352px repeat;}
#xr_nb37 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb37 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb37 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb37 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb37 .xr_nb6 {background-color:#000000;}
#xr_nb37 li {border-color:#000000;}
#xr_nb37 li:hover {border-color:#83ABAC;}
#xr_nb37 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb37 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb10 {background:url('1.png') -768px 3169px repeat;}
#xr_nb41 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb41 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb41 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb41 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb41 .xr_nb6 {background-color:#000000;}
#xr_nb41 li {border-color:#000000;}
#xr_nb41 li:hover {border-color:#83ABAC;}
#xr_nb41 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb41 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb11 {background:url('1.png') -768px 4016px repeat;}
#xr_nb45 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb45 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb45 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb45 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb45 .xr_nb6 {background-color:#000000;}
#xr_nb45 li {border-color:#000000;}
#xr_nb45 li:hover {border-color:#83ABAC;}
#xr_nb45 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb45 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb12 {background:url('1.png') -768px 2806px repeat;}
#xr_nb49 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb49 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb49 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb49 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb49 .xr_nb6 {background-color:#000000;}
#xr_nb49 li {border-color:#000000;}
#xr_nb49 li:hover {border-color:#83ABAC;}
#xr_nb49 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb49 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb13 {background:url('1.png') -768px 1899px repeat;}
#xr_nb53 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb53 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb53 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb53 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb53 .xr_nb6 {background-color:#000000;}
#xr_nb53 li {border-color:#000000;}
#xr_nb53 li:hover {border-color:#83ABAC;}
#xr_nb53 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb53 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb14 {background:url('1.png') -768px 2612px repeat;}
#xr_nb57 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb57 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb57 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb57 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb57 .xr_nb6 {background-color:#000000;}
#xr_nb57 li {border-color:#000000;}
#xr_nb57 li:hover {border-color:#83ABAC;}
#xr_nb57 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb57 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb15 {background:url('1.png') -768px 1340px repeat;}
#xr_nb61 {font-family:Tahoma, sans-serif; font-size:14px;}
#xr_nb61 li:hover > a {background-color:#FFFFFF; color:#83ABAC;}
#xr_nb61 li a {color:#000000; background-color:#F4F4F4; padding:2px; padding-right:20px;}
#xr_nb61 li > div {background-color:#F4F4F4; padding:2px;}
#xr_nb61 .xr_nb6 {background-color:#000000;}
#xr_nb61 li {border-color:#000000;}
#xr_nb61 li:hover {border-color:#83ABAC;}
#xr_nb61 ul {border: solid 0px #FFFFFF; background-color:#F4F4F4;}
#xr_nb61 .xr_nb2 {opacity: 0; transition-timing-function: ease-in; transition: opacity 200ms, visibility 200ms;}
.xr_bgb16 {background:url('1.png') -768px 5296px repeat;}
.xr_bgb17 {background:url('1.png') -768px 2901px repeat;}
.xr_bgb18 {background:url('1.png') -768px 4016px repeat;}
.xr_bgb19 {background:url('1.png') -768px 2519px repeat;}
.xr_bgb20 {background:url('1.png') -768px 4835px repeat;}
.xr_bgb21 {background:url('1.png') -768px 17554px repeat;}
.xr_bgb22 {background:url('1.png') -768px 5670px repeat;}
.xr_bgb23 {background:url('1.png') -768px 1710px repeat;}
.xr_bgb24 {background:url('1.png') -768px 7459px repeat;}
.xr_bgb25 {background:url('1.png') -768px 6392px repeat;}
.xr_bgb26 {background:url('1.png') -768px 11329px repeat;}
